<h2 *ngIf="!isAjaxComplete; else pollDetails">
	<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
	Loading Poll...
	<span class="sr-only">Loading...</span>
</h2>
<ng-template #pollDetails>
	<div class="row">
		<div class="col-md-6 col-md-push-6">
			<app-chart [pollData]="poll"></app-chart>
		</div>
		<div class="col-md-6 col-md-pull-6">
			<h2>{{poll.title}}</h2>

			<h4>Voting Options:</h4>
			<div class="list-group">
				<a class="list-group-item" 
					[class.active]="opt._id === selectedOptId" 
					*ngFor="let opt of poll.opts"
					(click)="onOptClick(opt)">
					{{opt.name}}
				</a>
				<a class="list-group-item" [class.active]="newOptName">
					<input type="text" placeholder="Add Option..." name="newopt" 
					[(ngModel)]="newOptName"
					(keydown)="onNewOptInput()">
				</a>
			</div>

			<a class="btn btn-primary" (click)="onVoteSubmit()">Submit</a>
			<a href="https://twitter.com/intent/tweet?text={{poll.title}} - NodeVote http://vote.nodeapp.iadw.in/poll/{{poll._id}}" target="_blank" class="btn btn-default">
				Share <i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a class="btn btn-danger" (click)="onDeleteClick()" *ngIf="isOwner">Delete</a>
		</div>
	</div>
</ng-template>
