<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand">NodeVote</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/all']">All Polls</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact: true}"
          *ngIf="authService.authenticated()">
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact: true}"
          *ngIf="authService.authenticated()">
          <a [routerLink]="['/poll/new']">New Poll</a>
        </li>
        <li *ngIf="!authService.authenticated()">
          <a (click)="onLoginClick()">
            Sign in with <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="dropdown" *ngIf="authService.authenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{authService.getUserName()}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" (click)="onLogoutClick()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>